.navbar-brand > img {
    height: 10%;
    object-fit: cover;
    width: 10%;
}
.carousel-item > img {
    height: 30%;
    object-fit:cover;
    object-position:center;
}
.card > img {
    height: 200px;
    object-fit: cover;
    width: 300px;;
}
.carousel > img {
    height: 200%;
    object-fit: cover;
} 
.item > img{
    height: 150px;
    object-fit: cover;
}